 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Clearly I know HTML and CSS by making this website, not only am i sassy but i can also program in SASS ;) and bootstrap is just something I'm playing with at the moment</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>JAVASCRIPT FTW. That and JSON is how I got the interactive particle header above to work, swag. Only took 345q323231hrs yay</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Girl, you need to edit all these sentences later and make em sound more profesh. Talk about how Atom is a cool text editor, go to sleep bye</p>
    </div>
</div>
